body {
    background-image: url("https://s-media-cache-ak0.pinimg.com/736x/c6/aa/c3/c6aac323991a2b94b255e4e5afd42036.jpg");
     background-color: #fcf; cursor: default; font-family: Verdana, Arial, sans-serif;
}

		h1 { font-size: 25pt; color: Gold; }
		p { font-size: 10pt; color: silver; }
        h2 { font-size: 10; color: Gold; }












